html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(52deg, black, #3d3b3b, transparent);
}
header {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  padding: 0px 40px;
  background: linear-gradient(90deg,#1e1f26,#22232b,#0e4063,#22232b,#1e1f26);
}

.menu li {
  list-style: none;
  display: flex;
  align-items: center;
}

.centro {
  width: 60px;
  height: 60px;
}
.menu a:hover .centro {
  transform: scale(1.2);
}
/*     contenido    */
main {
    background: #b9c1c142;
    width: 52%;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 20px;
    border-radius: 17px;
    box-shadow: 18px 20px 13px 0px rgb(0 0 0 / 52%);
}
.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra vertical y horizontalmente el contenido */
}

.imagen h1 {
    font-size: 24px; /* Ajusta el tamaño de fuente del título */
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
}

img {
    border-style: none;
    width: 120px;
    height: auto; 
}
