
.search-container {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
input#searchInput {
  width: 106vh;
  height: 32px;
  border: 1px solid #b927f1;
  background: transparent;
  border-radius: 10px 0 0 10px;
  padding: 4px 10px;
  color: white;
  outline: none;
  font-size: 16px;
}
button#searchButton {
  width: 75px;
  height: 42px;
  background: url(../RECURSOS/iconos/buscar.png) no-repeat center center;
  background-size: 24px 24px;
  border: 1px solid #b927f1;
  border-radius: 0 10px 10px 0;
  border-left: none;
  color: white;
  font-family: unset;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button#searchButton:hover {
  background-color: #3b035d;
}

/* Estilos personalizados para la barra de desplazamiento en navegadores webkit */
.Buscar .resultados::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

.Buscar .resultados::-webkit-scrollbar-thumb {
  background-color: #b927f1; /* Color de la barra de desplazamiento */
  border-radius: 4px; /* Radio de esquina de la barra de desplazamiento */
}
.Buscar .resultados {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Cambia a flex-wrap: wrap para que los elementos se coloquen en filas */
  justify-content: flex-start;
  max-height: 73vh;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
/*             contenido array          */

/* Estilos para cada elemento de la galería */
.registro {
  width: calc(21%);
  background-color: #cfcfc10a;
  margin: 7px 5px;
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  border-radius: 15px;
}

.registro-foto {
  border: 3px solid;
  padding: 5px;
  border-radius: 70px;
  border-color: #bfe3ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}
.registro-foto img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.informacion-registro {
  width: 100%;
  padding: 6px 0px;
}
h2.registro-title {
  color: #c7b384;
  font-style: revert;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
p.registro-subtitle {
  color: #edd9d9;
  font-size: 11px;
  padding: 4px 0px;
}
/*           mensaje de texto           */
